@model IEnumerable<MySensei.Models.AppSignUp>

@{
    ViewBag.Title = "Index";
}

<h2>Sign Ups for Courses</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AppCourse.AppUserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AppUser.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SignUpDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.feedback)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AppCourse.AppUserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AppUser.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SignUpDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.feedback)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }, new { @class = "btn btn-primary btn-xs" }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }, new { @class = "btn btn-primary btn-xs" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID }, new { @class = "btn btn-danger btn-xs" })
        </td>
    </tr>
}

</table>
