@model MySensei.Models.AppCourse

<div style="width: 300px; height: 275px; display: inline-block; border: 1px solid black; padding: 5px; margin: 5px;">

    <h3>@Model.Headline</h3>
    <ul>
        <li>Description: @Model.Description</li>
        <li>Location: @Model.Location</li>
        <li>Price: @Model.Price dkk</li>
        <li>Maximum attendance: @Model.MaxAttendance</li>
    </ul>
    <p>
        @Html.ActionLink("Details", "Details", "Course", new { area = "", id = Model.ID }, null)
    </p>
</div>

