<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    @Html.ActionLink("MySensei Teacher", "Index", "FrontPage", new { area = "" }, new { @class = "navbar-brand" })
    <!--
    <a href='@Url.Action("Index", "FrontPage", new { area = "Teachers", @class = "navbar-brand" })'>
        <img src='@Url.Content("~/img/logo_i_vector_sort.png")' alt='MySensei' />   Teacher
    </a>
    -->
</div>
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav  navbar-right">
        <li>
            @Html.ActionLink(User.Identity.Name, "Index", "User", new { area = "" }, new { })
        </li>
        <li>@Html.ActionLink("Home", "Index", "Home", new { area = "Teachers" }, new { })</li>
        <li>@Html.ActionLink("Learning", "Index", "Lessons", new { area = "Teachers" }, new { })</li>
        <li>@Html.ActionLink("Teaching", "Index", "Course", new { area = "Teachers" }, new { })</li>
        <li>@Html.ActionLink("Profile", "Index", "User", new { area = "" }, new { })</li>
        <li>@Html.ActionLink("Logout", "Logout", "Account", new { area = "" }, new { })</li>

    </ul>
</div>
