@model MySensei.Models.AppUser
<div class="col-xs-6">
    <div class="form-group">
        @Html.LabelFor(x => x.FirstName):
        <p>
            @Model.FirstName
        </p>
    </div>
    <div class="form-group">

        @Html.LabelFor(x => x.LastName):
        <p>
            @Model.LastName
        </p>
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Email):
        <p>
            @Model.Email
        </p>
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Address):
        <p>
            @Model.Address
        </p>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Zip):
        <p>
            @Model.Zip
        </p>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.City):
        <p>

            @Model.City
        </p>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Country):
        <p>
            @Model.Country
        </p>
    </div>
</div>
<div class="col-xs-6">
    <div class="form-group">
        @Html.LabelFor(x => x.Avatar):
        <p>
            @Model.Avatar
        </p>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Gender):
        <p>
            @Model.Gender
        </p>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Biography):
        <p>

            @Model.Biography
        </p>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Birthday):
        <p>

            @Model.Birthday
        </p>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.PrimaryLanguage):
        <p>

            @Model.PrimaryLanguage
        </p>
    </div>

</div>
