@model MySensei.Models.ChangePassword
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Change Password</h2>
@Html.ValidationSummary(false)
@using (Html.BeginForm("ChangePassword", "User"))
{
        <div class="form-group">
            <label>Current Password</label>
            @Html.PasswordFor(x => x.CurrentPassword, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label>New Password</label>
            @Html.PasswordFor(x => x.NewPassword, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label>Confirm Password</label>
            @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control" })
        </div>

    <button type="submit" class="btn btn-primary">Change</button>
    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })
}

