@model IEnumerable<MySensei.Models.AppCourse>
@{
    ViewBag.Title = "Index";
}

<h3>Welcome, @User.Identity.Name !</h3>

@Html.Action("_CoursesFromCurrentUserSignedUp", "Utility", new { area = "" })

<div>@Html.ActionLink("Music", "Categories", new { ids = 1 })</div>
<div>@Html.ActionLink("Sport", "Categories", new { ids = 2 })</div>
<div>@Html.ActionLink("Art", "Categories", new { ids = 3 })</div>
<div>@Html.ActionLink("School", "Categories", new { ids = 4 })</div>

@Html.Action("_AllCoursesSearchBox", "Utility", new { area = ""})


