@model MySensei.Models.LoginModel
@{
    Layout = "~/Views/Shared/_LoginFront.cshtml";
}
@{ ViewBag.Title = "Login";}
<h2>Log In</h2>
@Html.ValidationSummary()
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken();
    <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
    <div class="form-group">
        <label>Name</label>
        @Html.TextBoxFor(x => x.UserName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Password</label>
        @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
    </div>
    <button class="btn btn-primary" type="submit">Log In</button>
    
}
<p>
    @Html.ActionLink("Register as a Student",
                     "Register",
                     new { role = "student" })
</p>
<p>
    @Html.ActionLink("Register as a Teacher",
                     "Register",
                     new { role = "teacher" })
</p>
<p><a href="#">Continue as guest</a></p>
    <nav>
        <ul>
            <li><img src=" ~/img/logo_i_vector_sort.png" alt="MySensei"/></li>        
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
        </ul>
    </nav>