@model IEnumerable<MySensei.Models.AppCourse>

@{
    Layout = "~/Views/Shared/_FrontPage.cshtml";
}
@{ ViewBag.Title = "MySensei | Lessons!";}

@Html.Partial("~/Views/Shared/_FrontPageNav.cshtml");


<div class="wrapper les">
    <div class="search-box">
        <div id="search_bar.les">
            @using (Html.BeginForm("Lessons", "FrontPage"))
            {
                <p class="name">
                    @Html.TextBox("searchString", "Search Lessons", new { @class = "feedback-input" })
                    <input type="submit" value="Search" id="button-blue" />
                </p>
            }
        </div>

    </div>
</div>

<div class="dropdowns ddl">

    <table style="width:100%">
        <tr>
            <td><p>Where:</p>
                <select>
                    <option value="Every">Everywhere</option>
                    <option value="Aarhus">Aarhus</option>
                    <option value="Coppenhagen">Copenhagen</option>
                    <option value="Vejle">Vejle</option>
                    <option value="Odense">Odense</option>
                </select> 
            </td>
            <td>
                <p>Type:</p>
                <select>
                    <option value="All">All</option>
                    <option value="Free">Free</option>
                    <option value="Payed">Payed</option>
                    <option value="Group">Group Lessons</option>
                    <option value="Online">Online</option>
                </select> 
            </td>
            <td>
                <p>Price:</p>
                <select>
                    <option value="All">All</option>
                    <option value="0">0-49 dkk</option>
                    <option value="50">50-99 dkk</option>
                    <option value="100">100-199 dkk</option>
                    <option value="200">200< dkk</option>
                </select> 
            </td>
            <td>
                <p>Distance:</p>
                <select>
                    <option value="All">Everywhere</option>
                    <option value="0">0-4 km</option>
                    <option value="5">5-9 km</option>
                    <option value="10">10-19 km</option>
                    <option value="50">20< km</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <p>Education:</p>
                <select>
                    <option value="All">All</option>
                    <option value="Music">Music</option>
                    <option value="Sports">Sports</option>
                    <option value="Cooking">Cooking</option>
                    <option value="Languages">Languages</option>
                </select> 
            </td>
        </tr>
    </table> 
</div>
<div class="title"><h1>Lessons</h1></div>
<div class="courses-cont">
    
    @foreach (var obj in Model)
    {

        @Html.Partial("~/Views/Shared/_CourseInfoBox.cshtml", obj);

        
    }
</div>



@*<div style="color: black;">
<h2>Music</h2>
@foreach (var obj in Model)
{
    if (obj.AppCategory.ID == 1)
    {
        <div class="courses">
            @if (obj.AppUser.Avatar != null)
            {
                <img src="@obj.AppUser.Avatar" />
            }
            else
            {
                <div class="circular"> </div>
            }
            <div class="description">
                <h2><b>@obj.Headline</b></h2>
                <p>Teacher: @obj.AppUser.FullName</p>
                <p>Description: @obj.Description</p>
                <p>Location: @obj.Location</p>
                <p>Price: @obj.Price dkk</p>
                <p>Maximum attendance: @obj.MaxAttendance</p>
                @Html.ActionLink("Read More", "Details", new { id = obj.ID })
            </div>
            <div class="price">
                <p>Pricing: @obj.Price</p>
                Rating:
                <div class="rating">
                    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                </div>
                <h2>@Html.ActionLink("Sign up", "Lessons", null, new { @class = "button-link" })</h2>
            </div>
        </div>
    }
}
</div>*@
