@model IEnumerable<MySensei.Models.AppCourse>


@using (Html.BeginForm())
{
    <p>
        Find by title: @Html.TextBox("searchString")
        <input type="submit" value="Search" />
    </p>
}


<div class="courses-cont">

    @foreach (var obj in Model)
    {

        @Html.Partial("~/Views/Shared/_CourseInfoBox.cshtml", obj);
    }
</div>



@*<div style="color: black;">
    <h2>Music</h2>
    @foreach (var obj in Model)
    {
        if (obj.AppCategory.ID == 1)
        {
            <div class="courses">
                @if (obj.AppUser.Avatar != null)
                {
                    <img src="@obj.AppUser.Avatar" />
                }
                else
                {
                    <div class="circular"> </div>
                }
                <div class="description">
                    <h2><b>@obj.Headline</b></h2>
                    <p>Teacher: @obj.AppUser.FullName</p>
                    <p>Description: @obj.Description</p>
                    <p>Location: @obj.Location</p>
                    <p>Price: @obj.Price dkk</p>
                    <p>Maximum attendance: @obj.MaxAttendance</p>
                    @Html.ActionLink("Read More", "Details", new { id = obj.ID })
                </div>
                <div class="price">
                    <p>Pricing: @obj.Price</p>
                    Rating:
                    <div class="rating">
                        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                    </div>
                    <h2>@Html.ActionLink("Sign up", "Lessons", null, new { @class = "button-link" })</h2>
                </div>
            </div>
        }
    }
    </div>*@
